@use '@carbon/react';
$feature-flags: (
  components-x: true,
  breaking-changes-x: true,
  grid: true,
  ui-shell: true
);

.button-container {
  display: flex;
  justify-content: flex-end; /* Align buttons to the right */
}


.logout-button{
  position: absolute;
  right: 0;
}